In [91]:
import pandas as pd
import numpy as np
import re
import tqdm

In [92]:
first_names_df = pd.read_csv("/Users/linndfors/study/diploma/ner_for_fem/src/first_names.with_freqs.csv")

In [93]:
first_names_df.head()

        name      freq
0  Олександр  0.040368
1  Володимир  0.034634
2      Марія  0.032823
3     Микола  0.032038
4     Тетяна  0.031082

In [14]:
first_names_df.shape

(82179, 2)

In [95]:
first_names_df = first_names_df[:267]

In [96]:
dict_df = pd.read_csv('/Users/linndfors/study/diploma/dict_uk/out/dict_corp_lt.txt', delimiter=' ', header=None, names=['word', 'lemma', 'grammar'])

In [97]:
def define_sex(name):
    try:
        filtered_df = dict_df[(dict_df['lemma'] == name) & (dict_df['word'] == name)]
        if not filtered_df.empty:
            grammar_pers = filtered_df['grammar'].iloc[0]

            if re.search(r'\bf\b', grammar_pers):
                return "F"
            elif re.search(r'\bm\b', grammar_pers):
                return "M"
            else:
                return "Unknown"
        else:
            print("No matches found for:", name)
            return "Unknown"
    except Exception as e:
        print("error", e)
        return "Unknown"

In [98]:
first_names_df['sex'] = first_names_df['name'].apply(define_sex)

No matches found for: Зинаіда
No matches found for: Лилія
No matches found for: Таісія
No matches found for: Прасков'я
No matches found for: Жана
No matches found for: Павліна
No matches found for: Прасковія
No matches found for: Дарья
No matches found for: Євгена
No matches found for: Полина
No matches found for: Нелля
No matches found for: Леоніда
No matches found for: Раіса
No matches found for: Таіса
No matches found for: Зінаіда
No matches found for: Олєся
No matches found for: Рима
No matches found for: Домніка
No matches found for: Матрона

In [99]:
first_names_df.shape

(267, 3)

In [100]:
first_names_with_sex_df = first_names_df[first_names_df['sex'].isin(['F', 'M'])]

In [101]:
first_names_with_sex_df.shape

(248, 3)

In [103]:
first_names_with_sex_df.head(10)

        name      freq sex
0  Олександр  0.040368   M
1  Володимир  0.034634   M
2      Марія  0.032823   F
3     Микола  0.032038   M
4     Тетяна  0.031082   F
5     Сергій  0.029062   M
6      Олена  0.028661   F
7      Ганна  0.027882   F
8      Ольга  0.026218   F
9    Наталія  0.024431   F

In [166]:
first_names_with_sex_df.to_csv("first_names_frequency_popular.csv")

In [104]:
def generate_random_name(df, n=1, sex=None):
    """
    Generate random names based on frequency and optional sex filter.
    
    Args:
        df (pd.DataFrame): DataFrame containing 'name', 'freq', and 'sex' columns.
        n (int): Number of random names to generate.
        sex (str or None): 'M' for male, 'F' for female, or None for no filter.
        
    Returns:
        list: List of randomly selected names.
    """
    # Filter by sex if provided
    if sex:
        df = df[df['sex'] == sex]
    
    names = df['name']
    frequencies = df['freq']
    
    # Use numpy to randomly choose names weighted by frequency
    return list(np.random.choice(names, size=n, p=frequencies/np.sum(frequencies)))

In [182]:
print(generate_random_name(first_names_with_sex_df, 3, 'M'))

['Валерій', 'Олег', 'Олег']