In [2]:
import pandas as pd
import json
import ast

## Extract parallel senetnces

In [3]:
parallel_dataset_bruk_dataset = pd.read_csv("/Users/linndfors/study/diploma/ner_for_fem/data/csv_files_with_par_sentences/bruk_parallel.csv")
parallel_dataset_ng_dataset = pd.read_csv("/Users/linndfors/study/diploma/ner_for_fem/data/csv_files_with_par_sentences/ng_parallel.csv")

In [4]:
bruk_sentence_and_ann_df = parallel_dataset_bruk_dataset[['original_sentence', 'changed_sentence']]
ng_sentence_and_ann_df = parallel_dataset_ng_dataset[['original_sentence', 'changed_sentence']]

In [7]:
parallel_df = pd.concat([ng_sentence_and_ann_df, bruk_sentence_and_ann_df])
parallel_df.reset_index(drop=True, inplace=True)

In [9]:
parallel_df.shape

(1513, 2)

In [8]:
parallel_df.head()

,original_sentence,changed_sentence
0,"Слідчі встановили, що у 2018-2019 рр. управлін...","Слідчі встановили, що у 2018-2019 рр. управлін..."
1,Суд надав слідчим доступ до документації щодо ...,Суд надав слідчій доступ до документації щодо ...
2,"Директором та засновником ТОВ «Армшляхбуд», ст...","Директоркою та засновницею ТОВ «Армшляхбуд», с..."
3,Співвласником цієї компанії у свою чергу з час...,Співвласницею цієї компанії у свою чергу з час...
4,Одесит Іван Плачков почав працювати в компанії...,Одеситка Іванна Плачкова почала працювати в ко...

In [ ]:
parallel_df.to_csv("/Users/linndfors/study/diploma/ner_for_fem/data/csv_files_with_par_sentences/parallel_df.csv", index=0)

In [11]:
parallel_df = parallel_df.rename(columns={'original_sentence': "inputs", 'changed_sentence': 'targets'})

In [13]:
parallel_df['inputs'] = parallel_df.apply(lambda x: "Перефразуй це речення, змінивши гендерні сутності на протилежні (чоловічий <-> жіночий): " + x['inputs'], axis=1)

In [14]:
parallel_df.head()

,inputs,targets
0,"Перефразуй це речення, змінивши гендерні сутно...","Слідчі встановили, що у 2018-2019 рр. управлін..."
1,"Перефразуй це речення, змінивши гендерні сутно...",Суд надав слідчій доступ до документації щодо ...
2,"Перефразуй це речення, змінивши гендерні сутно...","Директоркою та засновницею ТОВ «Армшляхбуд», с..."
3,"Перефразуй це речення, змінивши гендерні сутно...",Співвласницею цієї компанії у свою чергу з час...
4,"Перефразуй це речення, змінивши гендерні сутно...",Одеситка Іванна Плачкова почала працювати в ко...

## Add word pairs (male-female)

In [ ]:
gender_dict_df = pd.read_csv("/Users/linndfors/study/diploma/uk-gender-word-mapper/gender_pairs_dictionary.csv")

In [24]:
gender_dict_df_half_1 = gender_dict_df[:len(gender_dict_df)//2]
gender_dict_df_half_1 = gender_dict_df_half_1.rename(columns={'male': "inputs", 'female': 'targets'})

gender_dict_df_half_2 = gender_dict_df[len(gender_dict_df)//2:]
gender_dict_df_half_2 = gender_dict_df_half_2.rename(columns={'female': "inputs", 'male': 'targets'})
gender_dict_df_half_2 = gender_dict_df_half_2[[gender_dict_df_half_2.columns[-1]] + list(gender_dict_df_half_2.columns[:-1])]

In [ ]:
parallel_df_words = pd.concat([gender_dict_df_half_1, gender_dict_df_half_2])
parallel_df_words.reset_index(drop=True, inplace=True)
parallel_df_words['inputs'] = parallel_df_words.apply(lambda x: "Перефразуй це слово, змінивши його гендер на протилежний (чоловічий <-> жіночий): " + x['inputs'], axis=1)

In [29]:
parallel_df_words.head()

                                              inputs           targets
0  Перефразуй це слово, змінивши його гендер на п...      абітурієнтка
1  Перефразуй це слово, змінивши його гендер на п...         абонентка
2  Перефразуй це слово, змінивши його гендер на п...        аборигенка
3  Перефразуй це слово, змінивши його гендер на п...  абстракціоністка
4  Перефразуй це слово, змінивши його гендер на п...      авантюристка

In [30]:
parallel_df_enhanced = pd.concat([parallel_df, parallel_df_words])

In [31]:
parallel_df_enhanced.head()

,inputs,targets
0,"Перефразуй це речення, змінивши гендерні сутно...","Слідчі встановили, що у 2018-2019 рр. управлін..."
1,"Перефразуй це речення, змінивши гендерні сутно...",Суд надав слідчій доступ до документації щодо ...
2,"Перефразуй це речення, змінивши гендерні сутно...","Директоркою та засновницею ТОВ «Армшляхбуд», с..."
3,"Перефразуй це речення, змінивши гендерні сутно...",Співвласницею цієї компанії у свою чергу з час...
4,"Перефразуй це речення, змінивши гендерні сутно...",Одеситка Іванна Плачкова почала працювати в ко...

In [32]:
parallel_df_enhanced.to_csv("/Users/linndfors/study/diploma/ner_for_fem/data/csv_files_with_par_sentences/parallel_for_llm_df.csv", index=0)